@model TheBlogProject.Models.Post

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutOneCol.cshtml";
}

<h3 class="text-center mb-1">Delete</h3>

<h4 class="text-center">Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-4  text-nowrap">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-4 text-nowrap">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ReadyStatus)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ReadyStatus)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.BlogUser)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.BlogUser.DisplayName)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <div class="d-flex justify-content-center">
            <button type="submit" class="w-100 btn btn-primary logoutButton border-1 mb-2 delBtn shadow-none">Delete</button>
        </div>
        <div class="d-flex justify-content-center">
            <a asp-action="Details" asp-controller="Posts"  asp-route-slug="@Model.Slug" class="w-100 btn btn-primary logoutButton border-1 mb-2 shadow-none pt-2">Go To Post</a>
        </div>
        <input type="hidden" asp-for="Id" />
        <a asp-controller="Home" asp-action="SortByPages" asp-route-text="myposts">Back to List</a>
    </form>
</div>
