@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@using TheBlogProject.Services
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using TheBlogProject.Enums
@using TheBlogProject.Data

@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@inject ApplicationDbContext _context


@model IPagedList<Post>

<div class="row row-cols-1 p-0 m-0">
    <div class="h4 text-center">@ViewData["searchTerm"]</div>
    @{ var counter = 0;

    }
    @foreach (var post in Model)
    {

        //Is the logged in user the Author of this post??
        var isAuthor = false;
        int postLikesCount = 0;
        int postUsefulCount = 0;

        if (post.Likes != null)
        {
            postLikesCount = post.Likes.Count();
        }

        if (post.UsefulCodes != null)
        {
            postUsefulCount = post.UsefulCodes.Count();
        }

        if (User.Identity.IsAuthenticated)
        {
            isAuthor = (post.BlogUserId == userManager.GetUserId(User));
        }




        <div class="col" style="padding:0px;">
            @*-------------   Post card   ------------*@
            <div class="card bg-transparent mb-2 shadow-sm rounded border-0" style="padding:0px;">
                <div id="@counter" class="card-body bg-white rounded-top m-0" style="margin-top: 1px; padding: 5px;">
                    @*-------------   User info   ------------*@
                    @{
                        var blogUser = await userManager.FindByIdAsync(post.BlogUserId);
                        var user = await userManager.FindByIdAsync(userManager.GetUserId(User));
                    }

                    <div class="row row-cols-1 m-0 p-0 mb-2">
                        <div class="col col-sm-8 p-0">
                            <div class="d-flex d-inline-block px-2">
                                <div class="pt-2 me-1">
                                    <img src="@imageService.DecodeImage(blogUser.ImageData, blogUser.ContentType)" alt="@blogUser.DisplayName" class="imgSetup imgCircle rounded-circle img-thumbnail" style="width:40px; height:40px;">
                                </div>
                                <div class="d-flex flex-column flex-grow-1 mt-1">
                                    <a asp-action="SortByPages" asp-controller="Home" asp-route-id="@blogUser.Id" class="smallFont pt-2" style=" line-height: 10px; color:var(--customBlack-color);">@blogUser.DisplayName</a>
                                    <div class="d-flex flex-column">

                                        @if (post.Updated is not null)
                                        {
                                            <span class="smallFont text-muted fw-lighter fst-italic">Updated : @post.Updated?.ToString("MMM dd, yyyy")</span>
                                        }
                                        else
                                        {
                                            <span class="smallFont text-muted fw-lighter fst-italic">@post.Created.ToString("MMM dd, yyyy")</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4 d-flex justify-content-center justify-content-sm-end p-0">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="d-flex justify-content-end ">
                                    @if ((User.IsInRole(BlogRole.Moderator.ToString()) || User.IsInRole(BlogRole.Administrator.ToString())) || isAuthor)
                                    {
                                        <a class=" btn btn-primary d-flex flex-nowrap justify-content-center postBtns shadow-none" style="color: var(--customBlack-color);" asp-action="Edit" asp-controller="Posts" asp-route-id="@post.Id">
                                            <i class="fa-solid fa-pen-to-square fa-lg px-2"></i>
                                            <span class="pb-1 pe-2">Edit</span>
                                        </a>
                                    }
                                    @if (User.IsInRole(BlogRole.Administrator.ToString()) || isAuthor)
                                    {
                                        <div class="px-1 text-muted fs-6 opacity-25 px-2 pt-1">|</div>
                                        <a class=" btn btn-primary d-flex flex-nowrap justify-content-center postBtns shadow-none" style="color: var(--customBlack-color);" asp-action="Delete" asp-controller="Posts" asp-route-id="@post.Id">
                                            <i class="fa-solid fa-trash-can fa-lg px-2"></i>
                                            <span class="pb-1 pe-2">Delete</span>
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                    </div>

                    @*-------------   Title   ------------*@

                    <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug" style="color: var(--customBlack-color);">
                        <div class=" px-4 h2 m-0 text-wrap">@post.Title</div>
                        <p class=" px-4 mx-1 m-0 text-wrap">@post.Abstract</p>
                    </a>

                    @*-------------   TAGS   ------------*@
                    <div class="card-header bg-white m-0 border-0 d-flex flex-wrap">
                        @foreach (var tag in post.Tags.ToList())
                        {
                            <a asp-controller="Home" asp-action="SortBy" asp-route-tag="@tag.Text.ToLower()" class="btn btn-primary d-inline-flex flex-nowrap justify-content-center p-0 me-1 px-1 rounded tagViewB" style="height:24px;">#@tag.Text</a>
                        }
                    </div>
                </div>

                @*-------------   Post Image   ------------*@

                @if (post.ImageData != null)
                {
                    <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
                        <img id="@($"postImage{counter}")" src="@imageService.DecodeImage(post.ImageData, post.ContentType)" class="imgSetup imgFit card-img-top img-fluid p-0 m-0" alt="image">
                    </a>
                }

                @*-------------   Post footer buttons   ------------*@
                <div class="card-footer d-flex flex-column p-0 m-0 border-0 bg-white rounded-bottom" id="viewUpdate">
                    <div class="d-flex bd-highlight px-3 border-bottom border-1">
                        @{ var zero = 0;}
                        <div class="likeCount row ps-2" id="@($"likeCount{counter}")">
                            <div class="col p-0" style="margin:2px;">
                                <i class="fa-regular fa-thumbs-up fa-2xs text-muted">
                                </i>
                            </div>
                            <div class="col p-0 spanPostPartial">
                                <span class="text-muted fs-6 postSpan">
                                    @if (post.Likes != null)
                                    {
                                        @post.Likes.Count()
                                    }
                                    else
                                    {
                                        @zero
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="text-muted fs-6 opacity-25" style="padding: 4px 8px 0px 8px;">|</div>
                        <div class="usefulCount row ps-2" id="@($"usefulCount{counter}")">
                            <div class="col p-0" style="margin:2px;">
                                <i class="fa-regular fa-file-code fa-2xs text-muted usefulCount">
                                </i>
                            </div>
                            <div class="col p-0 spanPostPartial">
                                <span class="text-muted fs-6 postSpan">
                                    @if (post.UsefulCodes != null)
                                    {
                                        @post.UsefulCodes.Count()
                                    }
                                    else
                                    {
                                        @zero
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="text-muted fs-6 opacity-25" style="padding: 4px 8px 0px 8px;">|</div>
                        <div class="row ps-2">
                            <div class="col p-0" style="margin:2px;">
                                <i class="fa-regular fa-comments fa-2xs text-muted ">
                                </i>
                            </div>
                            <div class="col p-0 spanPostPartial">
                                <span class="text-muted fs-6 postSpan">
                                    @if (post.Comments != null)
                                    {
                                        @_context.Comments.Where(c => c.PostId == post.Id).Count()
                                    }
                                    else
                                    {
                                        @zero
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="ms-auto row">
                            <div class="col p-0" style="margin:2px;">
                                <i class="fa-regular fa-eye fa-2xs text-muted">
                                </i>
                            </div>
                            <div class="col p-0 spanPostPartial">
                                <span class="text-muted fs-6 postSpan text-nowrap">
                                    @if (post.Views != null)
                                    {
                                        @post.Views
                                    }
                                    else
                                    {
                                        @zero
                                    }
                                    Views
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group d-flex flex-nowrap">

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (post.Likes != null)
                            {
                                bool contain = false;
                                foreach (var item in post.Likes)
                                {
                                    if (item == user.Id)
                                    {
                                        contain = true;
                                    }
                                }
                                if (contain is true)
                                {

                                    <a id="@($"likeBtn{counter}")" class="likeBtn btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsLike shadow-none" data-slug="@post.Slug" postLikesCount="@postLikesCount" title="Like" style="color: var(--hoverLightBlue-color); height: 30px;">
                                        <i class="fa-solid fa-thumbs-up fa-xl align-self-center likeIconSideBar"></i>
                                    </a>

                                }
                                else
                                {

                                    <a id="@($"likeBtn{counter}")" class="likeBtn btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsLike shadow-none" data-slug="@post.Slug" postLikesCount="@postLikesCount" title="Like" style="color: var(--hoverLightBlue-color); height: 30px;">
                                        <i class="fa-regular fa-thumbs-up fa-xl align-self-center likeIconSideBar"></i>
                                    </a>

                                }
                            }
                            else
                            {

                                <a id="@($"likeBtn{counter}")" class="likeBtn btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsLike shadow-none" data-slug="@post.Slug" postLikesCount="@postLikesCount" title="Like" style="color: var(--hoverLightBlue-color); height: 30px;">
                                    <i class="fa-regular fa-thumbs-up fa-xl align-self-center likeIconSideBar"></i>
                                </a>
                            }

                            if (post.UsefulCodes != null)
                            {
                                bool contain = false;
                                foreach (var item in post.UsefulCodes)
                                {
                                    if (item == user.Id)
                                    {
                                        contain = true;
                                    }
                                }
                                if (contain is true)
                                {

                                    <a id="@($"UsefulBtn{counter}")" class="usefulBtn btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsUseful shadow-none" data-slug="@post.Slug" postUsefulCount="@postUsefulCount" title="Useful Code" style="color: #8A1EAE; height: 30px;">
                                        <i class="fa-solid fa-file-code fa-xl align-self-center usefulIconSideBar"></i>
                                    </a>

                                }
                                else
                                {
                                    <a id="@($"UsefulBtn{counter}")" class="usefulBtn btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsUseful shadow-none" data-slug="@post.Slug" postUsefulCount="@postUsefulCount" title="Useful Code" style="color: #8A1EAE; height: 30px;">
                                        <i class="fa-regular fa-file-code fa-xl align-self-center usefulIconSideBar"></i>
                                    </a>
                                }
                            }
                            else
                            {
                                <a id="@($"UsefulBtn{counter}")" class="usefulBtn btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsUseful shadow-none" data-slug="@post.Slug" postUsefulCount="@postUsefulCount" title="Useful Code" style="color: #8A1EAE; height: 30px;">
                                    <i class="fa-regular fa-file-code fa-xl align-self-center usefulIconSideBar"></i>
                                </a>
                            }

                            <a asp-controller="Posts" asp-action="Details" asp-fragment="commentSection" asp-route-slug="@post.Slug" class="btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsComments shadow-none" data-slug="@post.Slug" title="Commentse" style=" height: 30px;">
                                <i class="fa-regular fa-comments fa-xl align-self-center commentsIconSideBar"></i>
                            </a>

                        }
                        else
                        {

                            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsLike shadow-none" title="Like" style="color: var(--hoverLightBlue-color); height: 30px;">
                                <i class="fa-regular fa-thumbs-up fa-xl align-self-center likesIconSideBar"></i>
                            </a>

                            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsUseful shadow-none" title="Like" style="color: #8A1EAE; height: 30px;">
                                <i class="fa-regular fa-file-code fa-xl align-self-center usefulIconSideBar"></i>
                            </a>

                            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary d-flex flex-nowrap justify-content-center postBtns postBtnsComments shadow-none" title="Like" style="color: var(--customBlack-color); height: 30px;">
                                <i class="fa-regular fa-comments fa-xl align-self-center commentsIconSideBar"></i>
                            </a>
                        }

                    </div>
                </div>
            </div>

        </div>

        counter++;

    }

</div>

<hr />

<hr />

<div class="row m-auto p-0">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>
<div class="row m-auto p-0">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("SearchIndex", new { page = page, searchTerm = ViewData["SearchTerm"] }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
    </div>
</div>

@section Scripts {

    <script>


        $(document).ready(function () {
            console.log("rdy");
            $(".likeBtn").off("click").on('click', function () {
                var $el = $(this);
                var slug = $el.data('slug');
                var postLikesCount = $(this).attr('postLikesCount');

                var e = $el.parents("#viewUpdate").children().children();
                var elId = e.attr('id');
                var pageCount = $("#" + elId).children(".spanPostPartial").children().html();
                console.log(pageCount);
                postLikesCount = pageCount;

                let modalId = $(this).attr('id');

                $.ajax({

                    type: "POST",
                    url: '/Home/Like',
                    data: { slug: slug },
                    dataType: "json",
                    success: function (result) {
                        trigger = false;
                        var modalAnchor = document.getElementById(modalId);
                        var icon = modalAnchor.firstElementChild;

                        if (icon.classList.contains("fa-regular")) {
                            icon.classList.remove("fa-regular");
                            icon.classList.add("fa-solid");

                            postLikesCount++;

                        } else if (icon.classList.contains("fa-solid")) {
                            icon.classList.remove("fa-solid");
                            icon.classList.add("fa-regular");

                            postLikesCount--;
                        }

                        var e = $el.parents("#viewUpdate").children().children();
                        console.log(e.attr('id'));
                        var elId = e.attr('id');


                        $("#" + elId).children(".spanPostPartial").children(".postSpan").html(" " + postLikesCount);


                    },
                    error: function (req, status, error) {
                        console.log(status)
                    }
                });
            });


            $(".usefulBtn").off("click").on('click', function () {

                var $el = $(this);
                var slug = $el.data('slug');
                var postUsefulCount = $(this).attr('postUsefulCount');

                var e = $el.parents("#viewUpdate").children().children(".usefulCount");
                var elId = e.attr('id');
                var pageCount = $("#" + elId).children(".spanPostPartial").children().html();
                postUsefulCount = pageCount;

                let modalId = $(this).attr('id');

                $.ajax({

                    type: "POST",
                    url: '/Home/UsefulCode',
                    data: { slug: slug, postUsefulCount: postUsefulCount },
                    dataType: "json",
                    success: function (result) {

                        var modalAnchor = document.getElementById(modalId);
                        var icon = modalAnchor.firstElementChild;

                        if (icon.classList.contains("fa-regular")) {
                            icon.classList.remove("fa-regular");
                            icon.classList.add("fa-solid");

                            postUsefulCount++;

                        } else if (icon.classList.contains("fa-solid")) {
                            icon.classList.remove("fa-solid");
                            icon.classList.add("fa-regular");

                            postUsefulCount--;
                        }

                        var e = $el.parents("#viewUpdate").children().children(".usefulCount");
                        var elId = e.attr('id');

                        $("#" + elId).children(".spanPostPartial").children(".postSpan").html(" " + postUsefulCount);


                    },
                    error: function (req, status, error) {
                        console.log(status)
                    }
                });
            });

         })

    </script>
}
