@using TheBlogProject.ViewModels
@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@using TheBlogProject.Services
@using TheBlogProject.Data

@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@inject ApplicationDbContext _context

@model ContactMe
@{
    Layout = "~/Views/Shared/_LayoutOneCol.cshtml";
    var me = _context.Users.Where(u => u.Email == "kfirkfir89@gmail.com").FirstOrDefault();

}


<div class="row-cols-1">
    <partial name="_StatusMessage" model="ViewBag.statusMessage"/>
    <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
    <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
    <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
    <partial></partial>
    <div class="col p-0 m-0">
        <div class="card testimonial-card mb-3 rounded shadow-sm">
            <div class="card-up aqua-gradient row-cols-1 rounded-top">
                <div class="col pt-5 mt-4 ">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col d-flex justify-content-sm-start justify-content-end pe-3 ps-lg-4 ps-xl-1 ps-md-5 ms-md-4  ps-sm-5 ms-sm-1">
                            <div class="card-title h4 text-white">Kfir Avraham</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avatar ms-sm-4 ms-2 white">
                <img src="@imageService.DecodeImage(me.ImageData, me.ContentType)" alt="@me.FullName" class="imgSetup imgCircle rounded-circle img-thumbnail border-5 border-white imgSize" />
            </div>
            <div class="row d-flex bg-transparent m-0 mt-2">
                <div class="col-2"></div>
                <div class="col d-flex justify-content-sm-start justify-content-end pt-1 ps-lg-4 ps-xl-1 me-1 ps-md-5 ms-md-4 ps-sm-5 ms-sm-1">
                    <div class="btn-group">
                        @if (me.LinkedinUrl != null)
                        {
                            <a href="@me.LinkedinUrl" target="_blank" id="basic-addon1" class="input-group-text pe-1 bg-transparent border-0 ">
                                <i class="fa-brands fa-linkedin fa-lg"></i>
                            </a>
                        }
                        @if (me.TwitterUrl != null)
                        {
                            <a href="@me.TwitterUrl" target="_blank" id="basic-addon1" class="input-group-text pe-1 bg-transparent border-0">
                                <i class="fa-brands fa-twitter fa-lg"></i>
                            </a>
                        }
                        @if (me.GithubUrl != null)
                        {
                            <a href="@me.GithubUrl" target="_blank" id="basic-addon1" class="input-group-text pe-1 bg-transparent border-0">
                                <i class="fa-brands fa-github fa-lg"></i>
                            </a>
                        }
                        @if (me.FacebookUrl != null)
                        {
                            <a href="@me.FacebookUrl" target="_blank" id="basic-addon1" class="input-group-text  pe-1 bg-transparent border-0">
                                <i class="fa-brands fa-facebook fa-lg"></i>
                            </a>
                        }

                    </div>
                </div>

            </div>
            <div class="card-body text-center mt-2">
                <div class="row row-cols-1">
                    @if (me.Location != null)
                    {
                        <div class="col-12">
                            <span class="fw-bolder text-muted fs-6">
                                <i class="fa-solid fa-map-location-dot pe-2"></i>@me.Location
                            </span>
                        </div>
                    }
                    <div class="col-12">
                        <span class="fw-bolder text-muted fs-6">
                            <i class="fa-solid fa-paper-plane pe-2"></i>@me.Email
                        </span>
                    </div>
                    @if (me.AboutMe != null)
                    {
                        <div class="col-12 d-flex justify-content-center my-3">
                            @Html.Raw("<div class=\"font600 text-center  mx-xl-5 px-xl-5 mx-lg-3 px-lg-3 px-1\">" + me.AboutMe + "</div>")
                        </div>
                    }
                </div>



            </div>
        </div>
    </div>


    <div class="col">
        <div class="bg-white rounded p-3 shadow-sm">
            <form asp-action="Contact">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Name" class="form-control ps-2 floaingCustom" style="padding-top: 25px;" id="floatingInputGrid" placeholder="Name" required data-validation-required-message="Please enter your name.">
                        <label class="form-labelFloating ps-2" for="floatingInputGrid">Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-5">
                        <input asp-for="Subject" class="form-control ps-2 floaingCustom" style="padding-top: 25px;" id="floatingInputGrid" placeholder="Subject" required data-validation-required-message="Please enter a subject.">
                        <label class="form-labelFloating ps-2" for="floatingInputGrid">Subject</label>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group bg-white mb-1">
                        <label asp-for="Message" class="control-label h6 pt-2 ps-1"></label>
                        <textarea asp-for="Message" class="form-control AboutMe ps-2" style="padding-top: 25px;" placeholder="Content"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>

                </div>

                <div id="success"></div>

                <div>
                    <hr />
                    <button id="sendMessageButton" type="submit" class="w-100 btn btn-primary logoutButton border-1 px-2 shadow-none">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/tinymceCustom.js"></script>
}