@using TheBlogProject.Models
@using TheBlogProject.Services
@using TheBlogProject.Enums
@using Microsoft.AspNetCore.Identity;
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using System.Drawing


@inject UserManager<BlogUser> userManager
@inject IImageService imageService

@model IEnumerable<TheBlogProject.Models.Post>


<div class="row row-cols-1">

    @{ var counter = 0; }
    @foreach (var post in Model)
    {
        //Is the logged in user the Author of this post??
        var isAuthor = false;

        if (User.Identity.IsAuthenticated)
        {
            isAuthor = (post.BlogUserId == userManager.GetUserId(User));
        }

        <div class="col" style="padding:0px;">
            @*-------------   Post card   ------------*@
            <div class="card bg-transparent border-0 mb-3" style="padding:0px;">
                <div class="card-body bg-white rounded-top" style="margin-top: 1px; padding: 5px;">
                    @*-------------   User info   ------------*@
                    @{
                        var blogUser = await userManager.FindByIdAsync(post.BlogUserId);
                    }

                    <div class="d-flex d-inline-block px-2 pt-1">
                        <img src="@imageService.DecodeImage(blogUser.ImageData, blogUser.ContentType)" alt="@blogUser.FullName" class="m-1 rounded-pill img-thumbnail " style="width:40px; height:40px;">
                        <div class="d-flex flex-column m-1 flex-grow-1">
                            <a asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blogUser.Id" class="smallFont pt-2" style=" line-height: 10px;">@blogUser.FullName</a>

                            @if (post.Updated is not null)
                            {
                                <span class="smallFont text-muted fw-lighter fst-italic">Updated : @post.Updated?.ToString("MMM dd, yyyy")</span>
                            }
                            else
                            {
                                <span class="smallFont text-muted fw-lighter fst-italic">@post.Created.ToString("MMM dd, yyyy")</span>
                            }
                        </div>
                        @if (User.IsInRole(BlogRole.Administrator.ToString()) || isAuthor)
                        {
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary logoutButton">
                                    <a class="justify-content-center" asp-action="Edit" asp-controller="Posts" asp-route-id="@post.Id">Edit Post</a>
                                </button>
                            </div>
                        }
                    </div>

                    @*-------------   Title   ------------*@
                    <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
                        <div class="card-title ps-3 h1">@post.Title</div>
                    </a>
                    <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
                        <p class="card-text ps-3 m-0">@post.Abstract</p>
                    </a>

                    @*-------------   TAGS   ------------*@
                    <div class="card-header bg-white m-0 border-0">
                        @foreach (var tag in post.Tags.ToList())
                        {
                            <button class="btn btn-outline-primary d-inline-flex flex-nowrap justify-content-center p-0 m-0 rounded">
                                <a asp-controller="Posts" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()" class="container-fluid d-flex flex-nowrap tagViewB" style="width:100%;">#@tag.Text</a>
                            </button>
                        }
                    </div>
                </div>

                @*-------------   Post Image   ------------*@
                @if (post.ImageData != null)
                {
                    <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
                        <img id="@($"postImage{counter}")" src="@imageService.DecodeImage(post.ImageData, post.ContentType)" class="imgSetup card-img-top img-fluid p-0 m-0" alt="image">
                    </a>
                    MemoryStream imageStream = new MemoryStream(post.ImageData);
                    Bitmap image = new Bitmap(imageStream);
                    int width = image.Width;
                    int height = image.Height;

                    if (width < 744)
                    {
                        <script>
                           console.log("katannn m800");
                           document.getElementById("@($"postImage{counter}")").classList.add("imgSmall");

                        </script>
                    }
                    else if (width >= 1024 && height >= 768)
                    {
                        <script>
                           document.getElementById("@($"postImage{counter}")").classList.add("imgBig");
                        </script>
                    }
                }

                @*-------------   Post footer buttons   ------------*@
                <div class="card-footer d-flex flex-column p-0 m-0 border-0 bg-white rounded-bottom">
                    <div>like useful view comments</div>
                    <div class="btn-group d-flex flex-nowrap">
                        <button class="btn btn-primary postButtonRight">
                            <a class="justify-content-center" asp-controller="Home" asp-action="Index" title="Manage">
                                <img class="" style="width:100%; height:20px;" src="/assets/img/postIcons/unlike.svg" />
                            </a>
                        </button>
                        <button class="btn btn-primary postButtonleft">
                            <a class="justify-content-center" asp-controller="Home" asp-action="About" title="Manage">
                                <img class="" style="width:100%; height:20px;" src="/assets/img/postIcons/UnUsefulCode.svg" />
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        counter++;
    }
</div>

<hr />
@*

    <div class="row">
        <div class="col h3">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    </div>

    <!--    Page List Core    -->
    <div class="row">
        <div class="col">
            @Html.PagedListPager(Model, page => Url.Action("BlogPostIndex", new { id = Model.FirstOrDefault().BlogId, page = page }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
        </div>
    </div>
*@
