@page
@model IndexModel
@{

}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <img src="@Model.CurrentImage" class="img-fluid rounded-circle" width="50%" />
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating">
                <input asp-for="Input.DisplayName" class="form-control" />
                <label asp-for="Input.DisplayName" class="form-label"></label>
                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" />
                <label asp-for="Input.FirstName" class="form-label"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" />
                <label asp-for="Input.LastName" class="form-label"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Location" class="form-control" />
                <label asp-for="Input.Location" class="form-label"></label>
                <span asp-validation-for="Input.Location" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <textarea asp-for="Input.AboutMe" class="form-control" rows="4"></textarea>
                <label asp-for="Input.AboutMe" class="form-label"></label>
                <span asp-validation-for="Input.AboutMe" class="text-danger"></span>
            </div>
            <div class="input-group custom-file-button">
                <input type="file" id="inputGroupFile" asp-for="Input.ImageFile" class="form-control" autocomplete="image" aria-required="true" accept=".png, .jpg, .bmp, .tif" />
                <label asp-for="Input.ImageFile" for="inputGroupFile" class="input-group-text">Browse</label>
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>

            <hr />
            <div class="h6">links</div>
            <div class="form-floating">
                <input asp-for="Input.LinkedinUrl" class="form-control" />
                <label asp-for="Input.LinkedinUrl" class="form-label"></label>
                <span asp-validation-for="Input.LinkedinUrl" class="text-danger"></span>

                <a href="@Model.LinkedinUrl" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="form-floating">
                <input asp-for="Input.TwitterUrl" class="form-control" />
                <label asp-for="Input.TwitterUrl" class="form-label"></label>
                <span asp-validation-for="Input.TwitterUrl" class="text-danger"></span>

                <a href="@Model.TwitterUrl" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </div>

            <div class="form-floating">
                <input asp-for="Input.GithubUrl" class="form-control" />
                <label asp-for="Input.GithubUrl" class="form-label"></label>
                <span asp-validation-for="Input.GithubUrl" class="text-danger"></span>

                <a href="@Model.GithubUrl" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FacebookUrl" class="form-control" />
                <label asp-for="Input.FacebookUrl" class="form-label"></label>
                <span asp-validation-for="Input.FacebookUrl" class="text-danger"></span>

                <a href="@Model.FacebookUrl" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </div>

            <hr />
            <div class="h6">Email</div>
            <span>to applay email change you need to verifed the new one!</span>

            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating input-group">
                    <input asp-for="Email" class="form-control" disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="form-floating">
                    <input asp-for="Email" class="form-control" disabled />
                    <label asp-for="Email" class="form-label"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <div class="form-floating">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <hr />
            <div class="h6">Password</div>
            <div class="form-floating">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <hr />

            <button id="update-profile-button" type="submit" class="w-100 btn btn-primary logoutButton border-1 px-2 shadow-none">Save Changes</button>
            <hr />
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger logoutButton border-1 px-2 shadow-none">Delete Account</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
