@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@using TheBlogProject.Services
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using TheBlogProject.Enums
@using TheBlogProject.Data

@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@inject ApplicationDbContext _context

@model IPagedList<TheBlogProject.Models.Comment>

@{
    Layout = "~/Views/Shared/_LayoutOneCol.cshtml";
    var counter = 0;
}

<div class="h4 text-center">Comments Management</div>

<div class="col pt-2">
    <div class="btn-group d-flex flex-nowrap" style="padding: 0px; margin: 0px;">

        @if (ViewBag.type == "all")
        {
            <a class="btn btn-primary d-flex flex-nowrap  justify-content-center leftButtonMenu shadow-top bg-white" asp-controller="Comments" asp-action="CommentsManagement" title="All Comments">
                <span class="pt-2 smallFont pb-2">All</span>
            </a>
        }
        else
        {
            <a class="btn btn-primary d-flex flex-nowrap  justify-content-center leftButtonMenu shadow-none" asp-controller="Comments" asp-action="CommentsManagement" title="All Comments">
                <span class="pt-2 smallFont pb-2">All</span>
            </a>
        }

        @if (ViewBag.type == "new")
        {
            <a class="btn btn-primary d-flex flex-nowrap justify-content-center ps-1 middleButtonMenu shadow-top bg-white" asp-controller="Comments" asp-action="CommentsManagement" asp-route-type="new" title="New Comments">
                <span class="pt-2 smallFont pb-2">New</span>
            </a>
        }
        else
        {
            <a class="btn btn-primary d-flex flex-nowrap justify-content-center ps-1 middleButtonMenu shadow-none" asp-controller="Comments" asp-action="CommentsManagement" asp-route-type="new" title="New Comments">
                <span class="pt-2 smallFont pb-2">New</span>
            </a>
        }

        @if (ViewBag.type == "moderated")
        {
            <a class="btn btn-primary d-flex flex-nowrap justify-content-center rightButtonMenu shadow-top bg-white" asp-controller="Comments" asp-action="CommentsManagement" asp-route-type="moderated" title="Moderated Comments">
                <span class="pt-2 smallFont pb-2">Moderated</span>
            </a>
        }
        else
        {
            <a class="btn btn-primary d-flex flex-nowrap justify-content-center rightButtonMenu shadow-none" asp-controller="Comments" asp-action="CommentsManagement" asp-route-type="moderated" title="Moderated Comments">
                <span class="pt-2 smallFont pb-2">Moderated</span>
            </a>
        }


    </div>
</div>


@foreach (var item in Model)
{

    <div id="@counter" class="col bg-white rounded shadow-sm p-2 mb-2">
        <div class="row row-cols-1 p-0 m-0 card-body">
            <div class="col col-sm-11">
                <div class="row-cols-1">
                    <div class="col">
                        <span class="small">
                            <span class="fw-bold">Id </span> : @item.Id
                        </span>
                    </div>
                    <div class="col d-flex">
                        @if (item.Deleted is not null)
                        {
                            <span class="small">
                                <span class="font-weight-bolder">Deleted</span> : @item.Deleted?.ToString("MMM dd, yyyy")
                            </span>
                        }
                        else if (item.Moderated is not null)
                        {
                            <span class="small">
                                <span class="fw-bold">
                                    Moderated <span class="text-danger font-italic">(@item.ModerationType.ToString().ToLower())</span>
                                </span>
                                : @item.Moderated?.ToString("MMM dd, yyyy")
                            </span>
                        }
                        else if (item.Updated is not null)
                        {
                            <span class="small">
                                <span class="fw-bold">Updated </span> : @item.Updated?.ToString("MMM dd, yyyy")
                            </span>
                        }
                        else
                        {
                            <span class="small">
                                <span class="fw-bold">Created </span> : @item.Created.ToString("MMM dd, yyyy")
                            </span>
                        }
                    </div>
                    <div class="col">
                        <span class="small">
                            <span class="fw-bold">User </span> : @item.BlogUser.DisplayName
                        </span>
                    </div>
                    <div class="col">
                        <div class="border border-1 bg-white rounded p-2 mx-3 fs-6">
                            @Html.Raw(item.Body)
                        </div>
                        <div class="truncate">
                            <div class="toggledText" id="@($"toggledText{counter}")">
                                <span class="small">
                                    <span class="fw-bold">Content: </span>
                                </span>
                                <div class="d-flex flex-wrap text-wrap">
                                    @Html.Raw(item.Body)
                                </div>
                            </div>
                            @if (item.Body.Length > 15)
                            {
                                <a href="#" id="@($"readmore{counter}")" class="readM">
                                    <span class="readmore-txt fst-italic fs-6">Read more</span>
                                    <span class="readless-txt fst-italic fs-6">Read Less</span>
                                </a>
                            }
                        </div>
                    </div>
                    @if (item.ModeratedBody != null)
                    {
                        <div class="col">
                            <div class="truncate">
                                <div class="toggledText" id="@($"toggled2Text{counter}")">
                                    <span class="small">
                                        <span class="fw-bold">Moderated Content </span> :@Html.Raw(item.ModeratedBody)
                                    </span>
                                </div>
                                @if (item.ModeratedBody.Length > 15)
                                {
                                    <a href="#" id="@($"read2more{counter}")" class="readM">
                                        <span class="readmore-txt fst-italic fs-6">Read more</span>
                                        <span class="readless-txt fst-italic fs-6">Read Less</span>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col col-sm-1 p-0">
                <div class="row row-cols-1">
                    <div class="col-4 col-sm-12">
                        <a class=" btn btn-primary d-flex flex-nowrap justify-content-center postBtns shadow-none" style="color: var(--customBlack-color);" asp-action="Details" asp-controller="Posts" asp-route-slug="@item.Post.Slug">
                            <span>Post</span>
                        </a>
                    </div>
                    <div class="col-4 col-sm-12">
                        <a class=" btn btn-primary d-flex flex-nowrap justify-content-center postBtns shadow-none" style="color: var(--customBlack-color);" data-bs-toggle="modal" data-bs-target="@($"#moderate{counter}")">
                            <span>Moderate</span>
                        </a>
                    </div>
                    <div class="col-4 col-sm-12">
                        <a class=" btn btn-primary d-flex flex-nowrap justify-content-center postBtns shadow-none" style="color: var(--customBlack-color);" data-bs-toggle="modal" data-bs-target="@($"#delete{counter}")">
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Modals*@
    <div class="modal" id="@($"delete{counter}")">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    @using (Html.BeginForm("Delete", "Comments", new { id = item.Id, type = "commentsManagement" }, FormMethod.Post))
                    {
                        <div class="row-cols-1">
                            <div class="col">
                                <h4>Are you sure you want to delete this comment @item.Id?</h4>
                            </div>
                            <hr />
                            <div class="col">
                                <div class="btn-group d-flex flex-nowrap p-0 m-0 ms-auto">
                                    <button type="submit" class="btn btn-primary logoutButton d-flex flex-nowrap justify-content-center  shadow-none text-white" style="color: var(--customBlack-color);">
                                        <i class="fa-solid fa-check fa-lg px-2"></i>
                                        <span class="pb-1 pe-2">Yes</span>
                                    </button>
                                    <button type="button" class="btn btn-primary logoutButton d-flex flex-nowrap justify-content-center  shadow-none text-white" style="color: var(--customBlack-color);" data-bs-dismiss="modal">
                                        <i class="fa-solid fa-xmark fa-lg px-2"></i>
                                        <span class="pb-1 pe-2">No</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="@($"moderate{counter}")">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <form asp-action="Moderate" asp-controller="Comments" asp-route-type="@ViewBag.type">
                        @Html.Hidden("Id", item.Id)
                        @Html.Hidden("Body", item.Body)
                        <div class="row-cols-1">
                            <div class="col ">
                                <h4>Moderating Comment</h4>
                            </div>
                            <div class="col">
                                <label class="h6">Original Comment</label>
                                <textarea disabled class="form-control" style="resize:none">@item.Body</textarea>
                            </div>
                            <div class="col">
                                <label class="h6">Moderated Comment</label>
                                <textarea required name="ModeratedBody" class="form-control">@item.ModeratedBody</textarea>
                            </div>
                            <div class="col">
                                <label class="h6">Reason For Moderation</label>
                                <select class="form-control" asp-for="@item.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                            </div>
                            <hr />
                            <div class="col">
                                <div class="btn-group d-flex flex-nowrap p-0 m-0 ms-auto">
                                    <button type="submit" class="btn btn-primary logoutButton d-flex flex-nowrap justify-content-center  shadow-none text-white" style="color: var(--customBlack-color);">
                                        <span class="pb-1 pe-2">Save Chances</span>
                                    </button>
                                    <button type="button" class="btn btn-primary logoutButton d-flex flex-nowrap justify-content-center  shadow-none text-white" style="color: var(--customBlack-color);" data-bs-dismiss="modal">
                                        <span class="pb-1 pe-2">Close</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("0").classList.remove("rounded");
        document.getElementById("0").classList.add("rounded-bottom");
        document.querySelector('#readmore'+'@counter').addEventListener("click", function (e) {
            e.preventDefault();
            document.querySelector('#toggledText'+'@counter').classList.toggle('toggle');
        });
    </script>
    <script>
        document.querySelector('#read2more'+'@counter').addEventListener("click", function (e) {
            e.preventDefault();
            document.querySelector('#toggled2Text'+'@counter').classList.toggle('toggle');
        });
    </script>
    counter++;
}

@if (Model.PageCount > 1)
{
    <hr />
    <div class="row m-auto p-0">
        <div class="col">
            @Html.PagedListPager(Model, page => Url.Action("CommentsManagement", new { page = page, id = ViewBag.CommentUser }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
        </div>
    </div>
}