@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@using TheBlogProject.Services
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using TheBlogProject.Enums
@using TheBlogProject.Data

@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@inject ApplicationDbContext _context

@model IPagedList<TheBlogProject.Models.Comment>

@{
    Layout = "~/Views/Shared/_LayoutOneCol.cshtml";
    var user = await userManager.FindByIdAsync(ViewBag.CommentUser);
    var counter = 0;
}

<div class="h4 text-center">@user.DisplayName Comments</div>

@foreach (var item in Model)
{
    var isAuthor = false;

    if (User.Identity.IsAuthenticated)
    {
        isAuthor = (item.BlogUserId == userManager.GetUserId(User));
    }

    <div class="col" style="padding:0px;">
        @*-------------   Post card   ------------*@
        <div class="card bg-transparent mb-3 shadow-sm rounded border-0" style="padding:0px;">
            <div class="card-body bg-white rounded-top" style="margin-top: 1px; padding: 5px;">
                @Html.Hidden("Id", item.Id)
                <div class="row row-cols-1 px-1 pt-1">
                    <div class="col w-100 d-flex">
                        <a class="d-flex d-inline-block flex-nowrap " asp-action="Details" asp-controller="Posts" asp-route-slug="@item.Post.Slug" style="color: var(--customBlack-color);">
                            <span class="h5 m-0">@item.Post.Title</span>
                        </a>
                    </div>
                    <div class="col d-flex">
                        <div class="d-flex d-inline-block">

                            <div class="d-flex flex-column flex-grow-1">
                                @if (item.Deleted is not null)
                                {
                                    <span class="small">
                                        <span class="font-weight-bolder">Deleted</span> : @item.Deleted?.ToString("MMM dd, yyyy")
                                    </span>
                                }
                                else if (item.Moderated is not null)
                                {
                                    <span class="small">
                                        <span class="fw-bold">
                                            Moderated <span class="text-danger font-italic">(@item.ModerationType.ToString().ToLower())</span>
                                        </span>
                                        : @item.Moderated?.ToString("MMM dd, yyyy")
                                    </span>
                                }
                                else if (item.Updated is not null)
                                {
                                    <span class="small">
                                        <span class="fw-bold">Updated </span> : @item.Updated?.ToString("MMM dd, yyyy")
                                    </span>
                                }
                                else
                                {
                                    <span class="small">
                                        <span class="fw-bold">Created </span> : @item.Created.ToString("MMM dd, yyyy")
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="truncate">
                        <div class="toggledText" id="@($"toggledText{counter}")">
                            <span class="d-flex flex-wrap px-4 mx-1 m-0">
                                @if (!string.IsNullOrEmpty(item.ModeratedBody))
                                {
                                    @Html.Raw("<div class=\"p-1 m-0\">" + item.ModeratedBody + "</div>")
                                }
                                else
                                {
                                    @Html.Raw("<div class=\"p-1 m-0\">" + item.Body + "</div>")
                                }
                            </span>
                        </div>
                        @if (item.Body.Length > 100)
                        {
                            <a href="#" id="@($"readmore{counter}")" class="readM">
                                <span class="readmore-txt fst-italic fs-6">Read more</span>
                                <span class="readless-txt fst-italic fs-6">Read Less</span>
                            </a>
                        }
                    </div>
                </div>
            </div>

            @*-------------   Post footer buttons   ------------*@
            <div class="card-footer border-0 bg-white rounded-bottom p-0" id="viewUpdate">
                @if (User.IsInRole(BlogRole.Administrator.ToString()) || isAuthor)
                {
                    <div class="row px-sm-3 my-1 d-flex m-0">
                        <div class="col">
                            <div class="btn-group d-flex flex-nowrap p-0 m-0 ms-auto">
                                <a class=" btn btn-primary d-flex flex-nowrap justify-content-center postBtns shadow-none" style="color: var(--customBlack-color);" data-bs-toggle="modal" data-bs-target="@($"#editModal{counter}")">
                                    <i class="fa-solid fa-pen-to-square fa-lg px-2"></i>
                                    <span class="pb-1 pe-2">Edit</span>
                                </a>
                                <div class="px-1 text-muted">|</div>
                                <a class=" btn btn-primary d-flex flex-nowrap justify-content-center postBtns shadow-none" style="color: var(--customBlack-color);" data-bs-toggle="modal" data-bs-target="@($"#delete{counter}")">
                                    <i class="fa-solid fa-trash-can fa-lg px-2"></i>
                                    <span class="pb-1 pe-2">Delete</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    @*Modals*@
    <div class="modal" id="@($"editModal{counter}")">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    @using (Html.BeginForm("Edit", "Comments", new { id = item.Id }, FormMethod.Post))
                    {
                        <div class="row-cols-1">
                            <div class="col ">
                                <h4>Editing Comment</h4>
                            </div>
                            <div class="col">
                                <textarea asp-for="@item.Body" name="Body" class="form-control commentBody"></textarea>
                            </div>
                            <div class="col">
                                <div class="btn-group d-flex flex-nowrap p-0 m-0 ms-auto">
                                    <button type="submit" class="btn btn-primary logoutButton d-flex flex-nowrap justify-content-center  shadow-none text-white" style="color: var(--customBlack-color);">
                                        <span class="pb-1 pe-2">Save Chances</span>
                                    </button>
                                    <button type="button" class="btn btn-primary logoutButton d-flex flex-nowrap justify-content-center  shadow-none text-white" style="color: var(--customBlack-color);" data-bs-dismiss="modal">
                                        <span class="pb-1 pe-2">Close</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="@($"delete{counter}")">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    @using (Html.BeginForm("Delete", "Comments", new { id = item.Id }, FormMethod.Post))
                    {
                        <div class="row-cols-1">
                            <div class="col">
                                <h4>Are you sure you want to delete this comment @item.Id?</h4>
                            </div>
                            <hr />
                            <div class="col">
                                <div class="btn-group d-flex flex-nowrap p-0 m-0 ms-auto">
                                    <button type="submit" class="btn btn-primary logoutButton d-flex flex-nowrap justify-content-center  shadow-none text-white" style="color: var(--customBlack-color);">
                                        <i class="fa-solid fa-check fa-lg px-2"></i>
                                        <span class="pb-1 pe-2">Yes</span>
                                    </button>
                                    <button type="button" class="btn btn-primary logoutButton d-flex flex-nowrap justify-content-center  shadow-none text-white" style="color: var(--customBlack-color);" data-bs-dismiss="modal">
                                        <i class="fa-solid fa-xmark fa-lg px-2"></i>
                                        <span class="pb-1 pe-2">No</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('#readmore'+'@counter').addEventListener("click", function (e) {
            e.preventDefault();
            document.querySelector('#toggledText'+'@counter').classList.toggle('toggle');
        });
    </script>

    counter++;
}


@if (Model.PageCount > 1)
{
    <hr />
    <div class="row m-auto p-0">
        <div class="col">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, id = ViewBag.CommentUser }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
        </div>
    </div>
}


<script>
    tinymce.init({
        selector: '.commentBody',
        menubar: false,
        height: 200,
        plugins: 'lists code emoticons codesample',
        toolbar: ' bold italic backcolor underline ' + ' emoticons codesample hr' + 'codesample',
        codesample_global_prismjs: true,
        emoticons_append: {
            custom_mind_explode: {
                keywords: ['brain', 'mind', 'explode', 'blown'],
                char: '🤯'
            }
        },
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
</script>